@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

  :root {
  --font-base: 'Source Serif 4', serif;
  --font-heading: 'Libre Franklin', sans-serif;
  --font-code: 'Victor Mono', monospace;
  --font-size-base: 24px; /* Taille de base pour l'échelle typographique */
  --line-height-base: 1.3; /* Hauteur de ligne pour la lisibilité */
  --line-height-tight: 1.2; /* Hauteur de ligne pour la lisibilité */
  --color-background: #FAFAFA; /* Couleur du background blanc */
  --color-heading: #007ACC; /* Couleur principale du texte bleu foncé */
  --color-text: #2E2E2E; /* Couleur principale du texte bleu foncé */
  --color-accent: #2ECC71; /* Couleur bleu pour les puces de la timeline */
  --color-code: #D33682;
  --color-border: #AEAEAE; /* gris pour les bordures (old : D9D9D9) */
  --scale-ratio: 1.25; /* Ratio typographique */
  font-size: var(--font-size-base);
}


body:has(iframe) {
  margin: auto;
  max-width: 90%;
  padding: 0;
}

iframe {
  width: 100%;
  height: 90vh;
  margin-top: 1ex;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

html {
  height: 100%;
}

body.slide {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);

  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}

/*.titlepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/

main.slide {
  padding: 2em;
  font-family: var(--font-base);
  line-height: 1.6;
}

main.slide h1,
main.slide h2,
main.slide h3,
main.slide h4,
main.slide h5,
main.slide h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-weight: 700;
  margin-bottom: 0.5em;
}

code {
  font-family: var(--font-code);
  font-size: .8em;
  color: var(--color-code);
}

.slide h1 {
  margin-top: 0;
  font-size: 3em;
}
.center {
  text-align: center;
}

.block {
  display: block
}

div.column {
  display: flex;
  align-items: stretch;
  gap: 1em;
}

ul {
  list-style: none;
  padding-left: 1em;
}

ul li:before {
  content: ">";
  color: var(--color-accent);
  margin-right: .5em;
  font-weight: bold;
}

a {
  color: var(--color-heading);
  text-decoration: none;
}

del {
  text-decoration: none;
  position: relative;
}

del:before {
  top: 50%;
  background: var(--color-code);
  opacity: 1;
  content: "";
  width: 100%;
  position: absolute;
  height: .1em;
  border-radius: .1em;
  left: -5%;
  white-space: nowrap;
  display: block;
  transform: rotate(-15deg);
}

del:after {
  top: 50%;
  background: var(--color-code);
  opacity: 1;
  content: "";
  width: 100%;
  position: absolute;
  height: .1em;
  border-radius: .1em;
  right: 5%;
  white-space: nowrap;
  display: block;
  transform: rotate(15deg);
}

h1 > * {
  font-size: 1em;
}

.small {
  font-size: .6em;
}

xforms-textarea  textarea {
  width: 40em;
  height: 10em;
}